@using SSDI.RequestMonitoring.UI.Contracts.Requests
@using SSDI.RequestMonitoring.UI.Contracts.Requests.JobOrder
@using SSDI.RequestMonitoring.UI.JComponents.Alerts
@using SSDI.RequestMonitoring.UI.JComponents.Forms
@using SSDI.RequestMonitoring.UI.JComponents.Loading
@using SSDI.RequestMonitoring.UI.JComponents.Modals
@using SSDI.RequestMonitoring.UI.Models.Requests
@inject IJobOrderSvc jobOrderSvc

<Confirmation__Modal @ref="_confirmModal" />
@if (IsModalVisible)
{
    <div class="modal__overlay">
        <div class="modal">
            <div class="modal__header">
                <h5 class="modal__header-title">NEW JOB ORDER </h5>
            </div>

            <div class="modal__alert">
                <Alert Message="@AlertMessage" Type="AlertType.error" ShowCloseButton="false" @bind-IsVisible="@IsShowAlert" />
            </div>

            <JobOrder__Form FormModel="@RequestModel" FormDepartments="Departments" FormDivisions="Divisions" OnValidSubmit="@HandleSave" OnCloseModal="@CloseModal" IsDisabledBtns="@_isDisabledBtns" />
        </div>
    </div>
}