@using SSDI.RequestMonitoring.UI.JComponents.Cards
@using SSDI.RequestMonitoring.UI.Models.Common
 @using SSDI.RequestMonitoring.UI.Models.Requests.Purchase

<Details__Card>
    <!-- Timeline Header -->
    <DetailsRow__Card FullRow="true" Label="Timeline">
        <div class="timeline-header">
            <div class="timeline-header__title">
                <i class="bi bi-clock-history timeline-header__icon"></i>
                <span>Request History</span>
            </div>
        </div>
    </DetailsRow__Card>

    <DetailsRow__Card FullRow="true">
        <div class="timeline">
            @foreach (var item in Timeline)
            {
                <div class="timeline__item">
                    <div class="timeline__point @item.CssClass"></div>

                    <div class="timeline__content">
                        <div class="timeline__title">@item.Title</div>

                        <div class="timeline__date">
                            @item.Date.ToString("MMM dd, yyyy 'at' hh:mm tt")
                        </div>

                        <div class="timeline__description">
                            @item.Description

                            @if (!string.IsNullOrWhiteSpace(item.Remarks))
                            {
                                <div class="timeline__remarks">@item.Remarks</div>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    </DetailsRow__Card>
</Details__Card>