@namespace SSDI.RequestMonitoring.UI.JComponents.Filters

<button id="@AnchorId" class="page__filters-btn" @onclick="ToggleVisibility">
    Division <span>@DisplayedDivisions</span> <i class="bi bi-chevron-down" />
</button>
<FluentPopover Style="width: 250px; margin-top: 4px; border-radius: 8px;"
               Class="page__filterBy-lists"
               VerticalThreshold="170"
               AnchorId="@AnchorId"
               @bind-Open="_isVisible">
    <Body>
        <FluentStack Orientation="Orientation.Vertical" VerticalGap="2">
            <!-- All checkbox -->
            <FluentCheckbox Class="page__filter-checkbox"
                            @bind-Value="@IsAllSelected"
                            Disabled="@IsAllSelected"
                            @bind-Value:after="@ToggleAll">
                All
            </FluentCheckbox>

            <div class="page__filterBy-lists-divider"></div>

            <!-- Individual division checkboxes -->
            @foreach (var division in Divisions ?? [])
            {
                <FluentCheckbox Class="page__filter-checkbox"
                                @bind-Value:get="@division.IsChecked"
                                @bind-Value:set="@((isChecked) => HandleDivisionChecked(division, isChecked))">
                    @division.Name
                </FluentCheckbox>
            }
        </FluentStack>
    </Body>
</FluentPopover>