@using SSDI.RequestMonitoring.UI.Contracts.Requests
@using SSDI.RequestMonitoring.UI.Contracts.Requests.Purchase
@using SSDI.RequestMonitoring.UI.JComponents.Forms
@using SSDI.RequestMonitoring.UI.JComponents.Modals


@if (IsModalVisible)
{
    <div class="modal__overlay">
        <div class="modal">
            <div class="modal__header">
                <h5 class="modal__header-title">UPDATE REQUISITION SLIP / ADVANCES SUBJECT TO LIQUIDATION</h5>
                <div class="modal__header-date">
                    <i class="bi bi-clock-history"></i>
                    <span title="@Model?.DateModified?.ToString("MMMM dd, yyyy 'at' h:mm tt")">
                        @Utils.GetLastModifiedDisplay(Model?.DateModified)
                    </span>
                </div>
            </div>

            <div class="modal__alert">
                <Alert Message="@AlertMessage" Type="@AlertType.error" ShowCloseButton="false" @bind-IsVisible="IsShowAlert" />
            </div>

            <RequestRequisition__Form FormModel="@Model"
                                      OnValidSubmit="@HandleSave"
                                      OnCloseModal="@CloseModal"
                                      IsDisabledBtns="@_isDisabledBtns"
                                      IsForUpdate="true"
                                      BusinessUnitCode="@RequestHeader?.BusinessUnitCode" />
        </div>
    </div>
}