@using SSDI.RequestMonitoring.UI.Contracts.Requests.Common
@using SSDI.RequestMonitoring.UI.Contracts.Requests.JobOrder
@using SSDI.RequestMonitoring.UI.JComponents.Forms
@using SSDI.RequestMonitoring.UI.JComponents.Modals

@inject IJobOrderSvc jobOrderSvc
@inject IAttachSvc attachSvc

@if (IsModalVisible)
{
    <div class="modal__overlay">
        <div class="modal">
            <div class="modal__header">
                <h5 class="modal__header-title">UPDATE REQUEST</h5>
                <div class="modal__header-date">
                    <i class="bi bi-clock-history"></i>
                    <span title="@RequestModel?.DateModified?.ToString("MMMM dd, yyyy 'at' h:mm tt")">
                        @Utils.GetLastModifiedDisplay(RequestModel?.DateModified)
                    </span>
                </div>
            </div>

            <div class="modal__alert">
                <Alert Message="@AlertMessage" Type="@AlertType.error" ShowCloseButton="false" @bind-IsVisible="@IsShowAlert" />
            </div>

            <JobOrder__Form FormModel="@RequestModel" FormDepartments="@Departments" FormDivisions="@Divisions" OnValidSubmit="@HandleSave" OnCloseModal="@CloseModal" IsDisabledBtns="@_isDisabledBtns" IsForUpdate="true" />
        </div>
    </div>
}

