@using SSDI.RequestMonitoring.UI.Contracts.Requests.JobOrder
@using SSDI.RequestMonitoring.UI.JComponents.Forms
@using SSDI.RequestMonitoring.UI.JComponents.Modals


@inject IJORequisitionSvc slipSvc
@inject IJOAttachSvc attachSvc

<Confirmation__Modal @ref="confirmModal" />
<div class="modal__overlay" id="@(IsModalVisible ? "show__new__purchase-requisition-modal" : "hide__new__purchase-requisition-modal")">
    <div class="modal">
        <div class="modal__header">
            <h5 class="modal__header-title">NEW REQUISITION SLIP / ADVANCES SUBJECT TO LIQUIDATION</h5>
        </div>

        <div class="modal__alert">
            <Alert Message="@AlertMessage" Type="AlertType.error" ShowCloseButton="false" @bind-IsVisible="IsShowAlert" />
        </div>

        <JobOrderRequisition__Form FormModel="@Model" OnValidSubmit="HandleSave" OnCloseModal="CloseModal" IsDisabledBtns="@_isDisabledBtns" SelectedFiles="@Attachments" />
    </div>
</div>